body{
    font-family: Arial, Helvetica, sans-serif;
    
    

}

h1{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.61);
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 3em;
    

}

    

.portfolio-list{
    display: flex;
    position: relative;
    
}
.fotospf{
    width: 33.33%;
    position: relative;
    margin: 5px;
    text-align: center;
   


}

.fotospf:hover .pic{
        opacity: 0.7;
        
}

.fotospf:hover .text{
    opacity: 1;
    color: black;
    
}

.fotospf img{
    position: relative;
    width: 100%;
    height: 100%;
    border: solid 2px white;
    margin: 2px;
    

}



.text{
    color: rgb(255, 251, 251);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 10px;
    border-radius: 10px;
    opacity: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 2.5em;
}


